!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "Abu DhABI 2012 - Abizeitung"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = stylesheet_link_tag    "application"
    / Le fav and touch icons
    /%link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    /%link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    /%link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    /%link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => root_path}
            Abu Dh<span style="color: #f00">abi</span> 2012
          .container.nav-collapse
            - if user_signed_in?
              = tabs
              .navbar-login.pull-right
                %span.user-info= current_user.full_name
                = link_to "Logout", destroy_user_session_path, class: 'btn btn-danger', :method => :delete
            - else
              = simple_form_for User.new, url: user_session_path, html: { class: 'navbar-form pull-right'}  do |f|
                = f.input_field :email, placeholder: "E-Mail-Adresse"
                = f.input_field :password, placeholder: "Passwort", class: 'input-small'
                = f.button :submit, "Login", class: 'btn btn-primary'

    .container

      .content
        - flash.each do |key, value|
          .alert.fade.in
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            = value.html_safe

        = yield
    
      %footer
        #footnotes_holder{:style => "max-height: 400px; overflow:auto"}
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
